<form>
  <div class="eight">
    <h1>UPDATE GAME</h1>
  </div>
  

  <mat-form-field class="form">
    <mat-label>Id</mat-label>
    <input
      matInput
      [(ngModel)]="game.gameId"
      type="text"
      name="gameId"
      disabled
    />
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Name</mat-label>
    <input
      matInput
      [(ngModel)]="game.gameName"
      [formControl]="gameName"
      required
      type="text"
      name="gameName"
    />
    <mat-error *ngIf="gameName.invalid"> {{ getMessage() }} </mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      [(ngModel)]="game.gameDescription"
      [formControl]="gameDescription"
      required
      type="text"
      name="gameDescription"
    ></textarea>
    <mat-error *ngIf="gameDescription.invalid"> {{ getMessage() }} </mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Note</mat-label>
    <input
      matInput
      [(ngModel)]="game.gameNote"
      [formControl]="gameNote"
      required
      type="text"
      name="gameNote"
    />
    <mat-error *ngIf="gameNote.invalid"> {{ getMessage() }} </mat-error>
  </mat-form-field>

  <div class="buttons">
    <button
      [disabled]="getMessage()"
      (click)="updateGame()"
      class="mat-elevation-z8"
      mat-stroked-button
      color="primary"
    >
      UPDATE
    </button>
    <button
      (click)="cancel()"
      class="mat-elevation-z8"
      mat-stroked-button
      color="war"
    >
      CANCEL
    </button>
  </div>
</form>
